<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>


<head th:fragment="head">
    <title>The-Shoe-Box</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0053/4999/8661/files/SDotFavicon_32x32.png?v=1600905425"
          type="image/png">
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0053/4999/8661/files/SDotFavicon_32x32.png?v=1600905425"
          type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark sticky-top"
     style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p07hblcn.jpg" alt="logo" height="48" width="100"
                 class="d-inline-block align-top"/>
            <span style="font-size: 30px;  text-shadow: 0 -1px 4px #FFF;">Shoe-Box</span></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto text-center " style="text-transform: uppercase;">
                <li>
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" href="/collections/all">Collections</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-laptop-code"></i>
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <th:block sec:authorize="isAuthenticated()">
                            <th:block sec:authorize="hasRole('ADMIN')">
                                <li>
                                    <a class="dropdown-item" th:href="@{/admin}">Configuration</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/statistics}">Statistics</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/orders/all}">Orders</a>
                                </li>
                            </th:block>
                        </th:block>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user"></i>
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <th:block sec:authorize="isAuthenticated()">
                            <li>
                                <a class="dropdown-item" href="/profile">Profile</a>
                            </li>
                            <li>
                                <form th:action="@{/users/logout}" method="post">
                                    <input class="dropdown-item" type="submit" value="LOGOUT">
                                </form>
                            </li>
                        </th:block>
                        <th:block sec:authorize="!isAuthenticated()">
                            <li>
                                <a class="dropdown-item" href="/users/login">Login</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/users/register">Register</a>
                            </li>
                        </th:block>
                    </ul>
                </li>
<!--                <li sec:authorize="isAuthenticated()">-->
<!--                    <a class="nav-link active" th:href="@{/collections/{id}/add-to-cart(id=*{id})}"><i-->
<!--                            class="fa fa-shopping-cart"></i><span-->
<!--                            class="badge rounded-pill badge-notification bg-danger">0</span></a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>


<footer class="text-center text-lg-start bg-dark text-muted" th:fragment="footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom color-muted">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>The Shoe Box
                    </h6>
                    <p>
                        Simple Shoes feature clean, wearable designs and sustainable materials. We have high top and
                        low top sneakers and boots ranging from canvas to soft leather to suede. These are quality
                        basic shoes that work with any style.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="/shop/about" class="text-reset">About Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Privaci polici</a>
                    </p>
                    <p>
                        <a href="/shop/newsletter" class="text-reset">Newsletter</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> КОМПЛЕКС ПРИКАЗКИТЕ ХАРМАНЛИ, Harmanli</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        spring@project.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +359 888 8888</p>
                    <p><i class="fas fa-print me-3"></i> +359 999 9999</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Copyright ©
        <script>document.write(new Date().getFullYear());</script>
        All rights reserved |
        This Website is Develop by Oci
    </div>
    <!-- Copyright -->
</footer>

</body>

</html>