<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head">
    <style>@media screen and (max-width: 200px) {
        .column {
            width: 100%;
            display: block;
        }
    }
    </style>
    <title>The-Shoe-Box | Home Page</title>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <nav th:replace="fragments/common::nav"></nav>

        <div class="master text-white text-center " style="margin-top: 250px;">
            <div class="container d-flex align-items-center flex-column "
                 style="line-height: 48px;letter-spacing: 0.092em;font-weight: 600; font-style: italic;">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"
                    style="letter-spacing: 10px;font-weight: 600;line-height: 1.9;font-size: 42px;">Winter top
                    models
                </h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-10 text-center">Simple Shoes feature clean,
                    wearable
                    designs and
                    sustainable materials.
                    We have high top and low top sneakers and boots ranging from canvas to soft leather to suede.
                    These are quality basic shoes that work with any style.</p>
                <h3
                        style="font-size: 19px;line-height: 2;letter-spacing: 3.65px;font-weight: 600;font-style: italic;">
                    Feel free & go make one pair of shoes
                    <a href="/collections/create-shoe" class="btn" id="add-shoe">Create</a></li>
                </h3>
            </div>
        </div>

    </header>


    <div th:action="@{/collections/all}" th:method="get" th:object="${allShoes}" class="container p-4"
         style="margin-top: 250px">

        <h1 class="masthead-heading text-uppercase p-5 text-center border-bottom" style="letter-spacing: 10px;font-weight: 600;
    line-height: 1.9;font-size: 42px;line-height: 48px;letter-spacing: 0.092em;font-weight: 600; font-style: italic;">
            All products
        </h1>

        <div  class="row row-cols-md-3 g-3">
            <div th:each="t : ${allShoes}" th:object="${t}" class="col">
                <div class="card h-100">
                    <img th:src="*{getImageUrl()}"
                         class="card-img-top" alt="shoe photo">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="*{brand}">Vans</span> <span
                                th:text="*{model}"> Suit</span></h5>
                        <p class="card-text" th:text="*{description}">The Old Skool, the Vans classic skate...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Available</li>
                        <li class="list-group-item" th:text="*{price}">Price: $249.00</li>
                    </ul>
                    <div class="card-body">
                        <a href="/collections/add-to-cart" class="card-link">Add to cart!</a>
                        <a href="/collections/details" class="card-link">Details</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" th:text="|Last updated *{createdOn.getHour()} hours ago|">Last updated 1 hour ago</small>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

    </div>
    <footer th:replace="fragments/common::footer"></footer>
</div>

</body>

</html>