<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head">
  <title>The-Shoe-Box</title>
</head>

<body style="background: #ac0212;">
<div class="wrapper">
  <header class="header">
    <nav th:replace="fragments/common::nav"></nav>

    <div class="containter">
      <div class="jumbotron">
        <div class="text text-center col-md-12">
          <h1 style="color: #fff;line-height: 1.7;letter-spacing: 0.102em;font-style: italic;font-weight: 500; color: #FFFFFF;
                            text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;">
            Choose your own style</h1>
          <a class="btn btn-outline-primary"
             style="letter-spacing: 0.213em;font-size: 1rem;font-weight: 400;font-style: normal;  "
             href="login.html">SHOP NOW</a>
        </div>
      </div>
    </div>
  </header>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>


  <footer th:replace="fragments/common::footer"></footer>
</div>
</body>

</html>