<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head">
    <title>The-Shoe-Box | Profile Page</title>

    <style>
        .btnP {
            margin: 10px 10px;
            width: 150px;
            padding: 10px;
            border-radius: 20px;
            background: #000;
            color: rgb(255, 255, 255);
            border: 1px solid rgb(0, 0, 0);
        }

        .btnP:hover {
            background: #fff;
            border: none;
            color: #000;
            box-shadow: 5px 5px 10px #000;
            transition: 0.3s;
        }
    </style>
</head>


<body style="background: #ac0212;">

<nav th:replace="fragments/common::nav"></nav>


<div class="container p-5"
     style="background-color: rgb(212, 212, 212); border-radius: 20px; box-shadow: 10px 10px 27px 16px #000; margin-top: 100px;">
    <form th:action="@{/profile}" th:method="get" th:object="${user}">
        <div class="container-fluid " style="background-color: #fff; border-radius: 10px;">

            <div class="row text-center">
                <h1 class="masthead-heading p-5 border-bottom "
                    style="letter-spacing: 10px;font-weight: 600;
                    line-height: 1.9;font-size: 42px;line-height: 48px;letter-spacing: 0.092em;font-weight: 600; font-style: italic;">
                    Profile Page
                </h1>
            </div>


            <div class="row text-center">
                <div class="col-md-4 p-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                             alt="Profile picture"/>
                    </div>
                </div>

                <div class="col-md-4 ms-auto text-center pt-5">
                    <div class="col-md-11">
                        <div class="profile-head p-2">
                            <h5 class="">
                                <span th:text="*{firstname}">Pesho</span> <span th:text="*{lastname}"></span>
                            </h5>

                            <p class="proile-rating">USER RATING : <span>8/10</span></p>
                        </div>
                    </div>
                    <div class="col p-3 text-center">
                        <button type="button" class="btn btn-success"><a href="/collections/create-shoe"
                                                                         style="color: #fff;">Create product</a>
                        </button>
                        <button type="button" class="btn btn-danger" style="background: red;"><a
                                th:href="@{/profile/{id}/edit-profile(id=*{id})}" style="color: #fff;">Edit profile!</a></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid " style="background-color: #fff; border-radius: 10px;">
            <div class="row m-5 text-center">
                <div class="col">
                    <h1 class="masthead-heading p-5 border-bottom "
                        style="letter-spacing: 10px;font-weight: 600;
                    line-height: 1.9;font-size: 42px;line-height: 48px;letter-spacing: 0.092em;font-weight: 600; font-style: italic;">
                        General Account Settings
                    </h1>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p th:text="*{id}">1</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p><span th:text="*{firstname}">Mariika</span> <span th:text="*{lastname}"> Dimitrova</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p th:text="*{email}">kshitighelani@gmail.com</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Role/'s</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <tr th:each="t : ${user.roles}" th:object="${t}">
                                        <th th:text="*{getRole()}">No</th>
                                    </tr>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Since date</label>
                            </div>
                            <div class="col-md-6">
                                <p th:if="*{getSinceFrom()!=null}">
                                    <span th:text="*{getSinceFrom().getYear()} ">2000</span> <span th:text=" *{getSinceFrom().getMonth()}"> 11</span><br>
                                    <span th:text="*{getSinceFrom().getDayOfWeek()} ">2000</span><br> <span th:text=" *{getSinceFrom().getHour()}"> 11</span>
                                    <span text=" : ">:</span> <span th:text=" *{getSinceFrom().getMinute()}"> 11</span>
                                </p>
                                <p th:if="*{getSinceFrom()==null}">
                                    <span text="">1999 December <br> FRIDAY <br>
                                                00:01 </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>User rating</label>
                            </div>
                            <div class="col-md-6">
                                <p>8/10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container-fluid text-center" style="background-color: #fff; border-radius: 10px;">
        <th:block th:if="${user.getShoes().size() > 0}">
        <h1 class="masthead-heading p-5 border-bottom pb-0" style="letter-spacing: 10px;font-weight: 600;
    line-height: 1.9;font-size: 42px;line-height: 48px;letter-spacing: 0.092em;font-weight: 600; font-style: italic;">
            Your Listings
        </h1>
        <div  class="row row-cols-md-3 g-3">
            <div th:each="t : ${user.getShoes()}" th:object="${t}" class="col">
                <div class="card h-100">
                    <img th:src="*{getImageUrl()}"
                         class="card-img-top" alt="shoe photo">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="*{brand}">Vans</span> <span
                                th:text="*{model}"> Suit</span></h5>
                        <p class="card-text" th:text="*{description}">The Old Skool, the Vans classic skate...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Available</li>
                        <li class="list-group-item" th:text="*{price}">Price: $249.00</li>
                    </ul>
                    <div class="card-body">
                        <a href="/collections/add-to-cart" class="card-link">Add to cart!</a>
                        <a  th:href="@{/collections/{id}/details(id=*{id})}" class="card-link">Details</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" th:text="|Last updated *{createdOn.getHour()} : *{createdOn.getMinute()}|">Last updated 1 hour ago</small>
                    </div>
                </div>
            </div>
        </div>
        </th:block>

        <th:block th:if="${user.getShoes().size() <= 0}">
            <h1 class="masthead-heading p-5 border-bottom" style="letter-spacing: 10px;font-weight: 600;
    line-height: 1.9;font-size: 42px;line-height: 48px;letter-spacing: 0.092em;font-weight: 600; font-style: italic;">
                No Listings
            </h1>
        </th:block>
    </div>


    <script>var title = document.querySelector("title");
    title.textContent = "The-Shoe-Box | Profile Page"</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</div>
<footer th:replace="fragments/common::footer"></footer>
</body>

</html>